.imageCard {
  border-radius: 16px 16px 0px 0px;
  width: 280px;
  height: 250px;
  object-fit: cover;
}

#card {
  border-radius: 16px 16px 0px 0px;
  width: 280px;
  margin: 10px;
  background-color: var(--background);
}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  padding-top: 15px;
  padding-bottom: 30px;
  letter-spacing: 0.9px;
  padding-inline: 20px;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
